.elementApp{
    width: 70px;
    height: 70px;
    min-width: 50px;
    min-height: 50px;
    
}
.elementInit{
    width: 70px;
    height: 70px;
    min-width: 50px;
    min-height: 50px;
    
}
.clicked{
    background-color: rgb(214, 214, 214);
}
.reactions{
    font-family: sans-serif;
    font-size: 25px;
}
